*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.send
/spec/support/screenshots/*
public/robots.txt
public/sitemap.xml.gz
config/secrets.yml
/.bundle
/vendor/bundle
.byebug_history
config/database.yml
config/secrets.yml
config/deploy.rb
config/deploy/*
/shared/
/lib/capistrano/*
