<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>!</h1>
    <p>
      Thanks for register!
    </p>
    <p>
      Click <%= link_to @url, @url %>.
    </p>
  </body>
</html>
