// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 70px; }
@media screen and (max-width: 768px) {
  body { padding-top: 90px; }
}

// navbar

.navbar-toggler {
    border-color: #ddd;
    padding: .7rem .7rem;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #ddd;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
}

.navbar-toggler .icon-bar {
    background-color: #888;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-brand {
    padding-top: 0.2rem;
}

#dropdownMenu1 {
  margin-left: 1em;
}

// end of navbar

#chatroom-card {
    overflow-y: scroll;
    height: 50vh;
}

#messages {
  p {
  margin: 0;
  font-size: 12px;
  }
}

#new_message {
  textarea {
    width: 95%;
    margin-left: -15px;
    height: 5rem;
  }
}

#new-chatroom {
  padding: 20px;
}

#send_message_chatroom {
  @media screen and (min-width: 400px) {
    margin-left: -60px;
    height: 5rem;
  }
}

#chatroom-index {
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  border-radius: 5px;
}

.pagination li {
  float: left;
  list-style: none;
  padding-right: 6px;
}

// facebook

#btn_via_facebook {
  background-color: #3a579a;
	display: block;
	line-height: 28px;
  color: #fff !important;
  text-transform: uppercase;
  font: 12px, 'proxima-nova', 'helvetica neue', helvetica, arial, sans-serif;
  border-radius: 3px;
  text-decoration: none;
  span {
    line-height: 28px;
    display: table-cell;
    text-align: center;
  }
}

#btn_via_facebook:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.08) 100%);
}

.fb-icon {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  font-size: 16px;
  min-width: 32px;
}

.fb-icon-text {
  width: 100%;
}

// endof facebook

// gallery

/* pictures */

.pictures {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .file_name {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      width: 30rem;
    }
  }
  .content_type {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .url_key {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}
